<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 text-center my-3">Student Charts</h1>
        <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut cum sunt amet saepe placeat aliquid
            eligendi maxime inventore qui maiores impedit esse, iure adipisci provident eaque, hic deleniti voluptatem
            iste!</p>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-6 container-sm shadow p-3 mb-5 bg-light rounded ">
            <h6>Grade Distibution</h6>
            <canvas id="chart1"></canvas>
        </div>
        <div class="col-md-5 container-sm shadow p-3 mb-5 bg-light rounded ">
            <h6>Overall Distibution</h6>
            <canvas id="chart2"></canvas>
        </div>
    </div>
</div>

<script src='js/chart.js'></script>
<script type='text/javascript'>fetchStudents()</script>